/* Reset CSS untuk menghilangkan margin dan padding bawaan browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: montserrat, sans-serif;
    line-height: 1.6;
    background: url('../file/bg.jpeg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

.container h2{
    margin-top: 80px;
    background-image: linear-gradient(to right, #6420AA, rgb(255, 0, 0), indigo, violet);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

header {
    background-color: #f4f4f4c5;
    backdrop-filter: blur(5px);
    position: fixed;
    padding: 10px 0;
    height: 80px;
    width: 100%;
    box-shadow: 0px 1px 3px #ff2994;
}

.brand {
    float: left;
    background-image: linear-gradient(to left, #ff2994, indigo,  #6420AA);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-family: Gilroy;
    font-size: 25px;
}

nav ul {
    float: right;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    background-image: linear-gradient(to right, #6420AA, indigo, #ff2994);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    text-decoration: none;
}



.dashboard-info {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}

.info-content {
    background-image: linear-gradient(to right, #FFFFFF 0%, #F7F7F7 50%, #E5E5E5 100%);
    /* padding: 20px; */
    border-radius: 10px;
}

.info-content p {
    font-size: 24px;
    font-weight: bold;
}

.info-box {
    background-color: #FF69B4;
    width: 30%;
    text-align: center;
    border-radius: 10px;
}

.info-box h3 {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #f4f4f4;
}

.info-box p {
    font-size: 40px;
    font-weight: bold;
    background-image: linear-gradient(to left, #6420AA, indigo, rgb(255, 0, 0), violet);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
    background-color: #ffc8e4;
    border-radius: 10px;
    padding: 25px;
}

.info-box a {
    color:#f4f4f4;
    text-decoration: none;
}

.info-box a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

footer {
    font-size: 13px;
    color: #f4f4f4;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}